<app-header></app-header>


<div class="container">
  <div class="row">
    <span>
      <a type="text" class="mb-10 mt-10" [routerLink] = "['/list']"> < Back</a>
    </span>
        <div class="col-md-4"  *ngFor ="let list of postList">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">{{list.title}}</h5>
                  <p class="card-text">{{list.body}}</p>
                </div>
              </div>            
        </div>
    </div>
</div>


